doctype html
html
  head
    title= 'user log in'
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    form(action='/Users/crystal/Desktop/all-the-thing/matrix/mine/Online-chat/Online-Chat/views/index.html')
      h3 Please input your Username:
      input(type='text')
